%Grtsk-700{
    font-family: Grtsk-Bold, sans-serif;
    font-weight: 700;
}

%Grtsk-600{
    font-family: Grtsk-Semibold, sans-serif;
    font-weight: 600;
}

%Grtsk-500{
    font-family: Grtsk-Medium, sans-serif;
    font-weight: 500;
}