@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.main{
    position: relative;
    // &::before{
    //     content: "";
    //     z-index: 100;
    //     position: absolute;
    //     background-image: url("../images/center.png");
    //     width: 600px;
    //     height: 600px;
    //     left: 0;   
    //     right: 0;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    // }
}
.wrap{
    background-color: #BEBEBE;
    width: 100%;
    height: 862px;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container--hide{
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    &-wrapper{
        margin: 0 auto;
    }
    &_menu{
        display: none;
    }
    &_link-logo{
        position: relative;
        z-index: 5;
        width: 83,27px;
        height: 46px;
        display: block;
        mask-position: 0 0;
        // mask-image: url("../images/logo.svg");
        mask-image: url("../images/mask.png");
        mask-size: 100%;
        mask-repeat: no-repeat;
        -webkit-text-stroke: 1.8px #000000;
        mask-position: 0px 84px; 
        transition: 2s ease;
    }
    &_link-logo--loaded{
        mask-position: top;
    }
    &_link-logo--sec{
        width: 84,27px;
        height: 46px;
        position: absolute;
        top: 15px;
        z-index: 1;
        path{
            stroke: #000;
            stroke-width: 0.4px;
        }
    }
    &_inner{
        display: block;
        position: absolute;
    }
    &_inner-list{
        display: flex;
        position: absolute;
        transform: translateX(-1000px);
        transition: all .3s ease;
        top: 10px;
        left: 48px;
    }
    &_inner-list--active{
        transform: translateX(0px);
        transition: all .3s ease;
    }
    &_inner-link{
        margin-left: 5px;
    }
    &_inner-select{
        z-index: 100;
        position: relative;
        display: inline-block;
        margin: 12px 0 0 27px;
        width: 14px;
        height: 20px;
        object-fit: contain;
    }
    &_inner-box{
        position: relative;
        &::before{
            content: "";
            z-index: 10;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 0.12;
            top: 7px;
            left: 19px;
        }
    }
    &_inner-lang{
        @extend %Grtsk-700;
        padding: 3px;
        border-bottom: 1px solid #fff;
    }
}
.main{
    &_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend %Grtsk-600;
        padding-top: 270px;
        position: relative;
    }
    &_inner-link{
        color:#373737;
        transform: rotate(-90deg);
        font-size: 16px;
        display: inline-block;
        padding-bottom: 40px;
        overflow: hidden;
        position: relative;
        &::before{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            color:#fff;
            width: 0;
            overflow: hidden;
            transition: 1s;
        }
        &:hover::before{
            width: 100%;
        }
        &::after {
            opacity: 1;
            transform: translate3d(-100%, 0, 0);
            content: '';
            position: absolute;
            bottom: 38px;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: #fff;
            opacity: 0;
            transition: opacity 1s, transform 1s;
        }
        &:hover::after,
        &:focus::after{
            opacity: 1;
            z-index: 100;
          transform: translate3d(0, 0, 0);
        }
    }
    &_inner-box{
        width: 1023px;
        text-align: center;
        z-index: 100;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-image: url("../images/center.png");
            width: 578px;
            height: 578px;
            left: 230px;
            top: -200px;
            background-repeat: no-repeat;
            z-index: 5;
            background: #FFCB46;
            
            filter: blur(40px);
            border-radius: 50%
        }
    }
    &_inner-title{
        @extend %Grtsk-700;
        z-index: 100;
        font-size: 82px;
        line-height: 90px;
        text-transform: uppercase;
        color: #373737;
        position: relative;
    }
    &_racetrack{
        // overflow: hidden;
        position: absolute;
        top: 100px;
        width: 100%;
        text-align: center;
        color: inherit;
        display: inline-block;
        transition:.2s; 
    }
    &_racetrack-text{
        overflow: hidden;
        display: block;
        @extend %Grtsk-700;
        font-style: italic;
        color: #BEBEBE;
        text-transform: uppercase;
        opacity: 0.1;
        font-size: 52px;
        line-height: 110%;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #373737;
        position: absolute;
        animation-timing-function: linear; 
        width: 2500px;
        transform: rotate(150deg);
        animation: step 10s infinite;
        @keyframes step {
            0% {
                left: 50px; 
                bottom: 80px;
            }
            50% { 
                left: -500px;
                bottom: -250px;
            }
            100% {
                left: 50px; 
                bottom: 80px;
            }
        };
        &:nth-child(2) {
            transform: rotate(-30deg);
            animation: move 10s infinite;
            @keyframes move {
                0% {
                    left: -300px;
                    bottom: -200px;
                }
                50% { 
                    left: 200px; 
                    bottom: 80px;
                }
                100% {
                    left: -300px;
                    bottom: -200px;
                }
            }
        }
    }
    &_dot{
        z-index: 100;
        position: relative; 
        background: #000;
        top: 92px;
        left: 238px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin: 0 auto;
        @extend %Grtsk-600;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        &:hover{
            animation: spin 5s linear 0s infinite;
        }
        & p{
            position: absolute;
            left: 50%;  
            width: 0;  
            cursor: none;
            pointer-events: none;
        }
        & p:nth-of-type(-n+24){
            bottom: 5px;
            transform-origin: 0% 100%;
            padding-bottom: 60px;
            
        }
        & p:nth-of-type(1) {transform: rotate(310deg);}
        & p:nth-of-type(2) {transform: rotate(322deg);}
        & p:nth-of-type(3) {transform: rotate(334deg);}
        & p:nth-of-type(4) {transform: rotate(346deg);}
        & p:nth-of-type(5) {
            transform: rotate(362deg);
            padding-bottom: 61px;
        }
        & p:nth-of-type(6) {
            transform: rotate(370deg);
            padding-bottom: 61px;
        }
        & p:nth-of-type(7) {
            transform: rotate(382deg);
            padding-bottom: 61px;
        }
        & p:nth-of-type(8) {
            transform: rotate(394deg);
        }
        // 1-st
        & p:nth-of-type(9) {transform: rotate(410deg);}
        & p:nth-of-type(10) {transform: rotate(421deg);}
        & p:nth-of-type(11) {transform: rotate(435deg);}
        & p:nth-of-type(12) {transform: rotate(448deg);}
        & p:nth-of-type(13) {transform: rotate(464deg);
        padding-bottom: 61px;}
        & p:nth-of-type(14) {transform: rotate(473deg);
        padding-bottom: 61px;}
        & p:nth-of-type(15) {transform: rotate(486deg);
        padding-bottom: 61px;}
        & p:nth-of-type(16) {transform: rotate(499deg);}
        // 2-nd
        & p:nth-of-type(17) {transform: rotate(515deg);}
        & p:nth-of-type(18) {transform: rotate(526deg);}
        & p:nth-of-type(19) {transform: rotate(540deg);}
        & p:nth-of-type(20) {transform: rotate(553deg);}
        & p:nth-of-type(21) {transform: rotate(569deg);
        padding-bottom: 61px;}
        & p:nth-of-type(22) {transform: rotate(578deg);
        padding-bottom: 61px;}
        & p:nth-of-type(23) {transform: rotate(590deg);
        padding-bottom: 61px;}
        & p:nth-of-type(24) {transform: rotate(603deg);}
        // 3-rd
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(-360deg);}
    }
    
}
.footer{
    margin-top: auto;
    margin-bottom: 0;
    &_inner{
        margin: 0 auto;
        text-align: center;
    }
    &_inner-link{
        transform: rotate(0deg);
        @extend %Grtsk-600;
    }
}

@import 'media';